<a href="/logout">Logout</a>
<a href="/home">Bright Ideas</a>



<div>
    <p>Name: @ViewBag.OneUser.Name</p>
    <p>Alias: @ViewBag.OneUser.Alias</p>
    <p>Email: @ViewBag.OneUser.Email</p><hr>

    <p>Total Number of Posts: @ViewBag.UserIdeas.Count</p>
    <p>Total Number of Likes: @ViewBag.Userlikes.Count</p>

</div>